MCP_SERVER_NAME=            # i.e. 'finance' for https://mcp.franklintn.gov/mcp/finance
ENTRA_CLIENT_SECRET=        # Client secret for MCP Oauth Broker app registration in Entra
ENTRA_REQUIRED_GROUP_IDS=   # Comma-separated GUIDs of Entra AD security groups (users need membership in at least one)
PORT=                       # Port where service will listen on COFASV32 3000 range
